@charset "UTF-8";
/* CSS Document */

#central_principal{
	background-repeat: repeat;
	height: 768px;
	width: 1024px;
	margin: 0 auto;
	text-align:left;
	position: relative;
	z-index: 0;
}
body {
	background-image: url(imagenes/fondo_principal.jpg);
	background-repeat: repeat;
	text-align: center;
}

#logo_principal, #imagenes_principal, #promos{
	margin-top: 10px;
}

#menu_principal{
	margin-top: 22px;
}

.pic1{
	padding-left: 26px;
	padding-right: 10px;
}

#contenido{
	height: 652px;
	width: 897px;
	background-image: url(imagenes/fondo_contenido.png);
	margin-top: 80px;
	margin-left: 37px;
	z-index: 1;
	position: fixed;
	float: left;
}

#contenido_contacto{
	height: 539px;
	width: 864px;
	background-image: url(imagenes/fondo_contenido_contacto.png);
	margin-top: 147px;
	margin-left: 72px;
	position: fixed;
}

#contenido_ubicacion{
	height: 539px;
	width: 864px;
	background-image: url(imagenes/fondo_contenido_ubicacion.png);
	margin-top: 147px;
	margin-left: 72px;
	position: fixed;
}

#contenido_large{
	height: 722px;
	width: 980px;
	background-image: url(imagenes/fondo_contenido_large.png);
	margin-top: 23px;
	margin-left: 23px;
	text-align: center;
}


#logo{
	z-index: 2;
	top: 10px;
	position: relative;
	float: right;
}

.texto_menu{
	margin-top: 36px;
	margin-left: 84px;
}

#titulo{
	float: left;
	padding-left: 50px;
	padding-top: 10px;
	z-index: 1;
	position: fixed;
}
.inserta_texto {
	height: 38px;
	width: 338px;
	left: 120px;
	text-align: left;
	text-indent: 120px;
	background-repeat: no-repeat;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	color: #3C2513;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CB7227;
	border-right-color: #CB7227;
	border-bottom-color: #CB7227;
	border-left-color: #CB7227;
	border-bottom-style: solid;
}
.inserta_texto:hover {
	border-color: #FC0;
}
.inserta_texto:active {
	border-color: #FFF;
}
.inserta_comentario {
	background-image: url(imagenes/form_comentarios.png);
	width: 338px;
	left: 120px;
	text-align: left;
	background-repeat: no-repeat;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	color: #3C2513;
	height: 140px;
	border: 2px solid #CB7227;
}
.inserta_comentario:hover {
	border-color: #FC0;
}
.inserta_comentario:active {
	border-color: #FFF;
}
.enviar_comentario {
	width: 120px;
	left: 120px;
	text-align: center;
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #3C2513;
	height: 40px;
	font-weight: bolder;
	margin-left: 10px;
	background-image: url(imagenes/fondo_boton.png);
	background-position: bottom;
	border: 1px dotted #CB7227;
}
#contacto_form {
	width: 490px;
	padding-top: 150px;
	padding-left: 80px;
}
#nombre {
background-image: url(imagenes/from_nombre.png);
}
#email {
background-image: url(imagenes/from_email.png);
}
#telefono {
background-image: url(imagenes/from_telefono.png);
}
